openapi: 3.1.0
info:
  title: Teahouse Vault Logs API
  version: '1.0'
  description: 'Read-only HTTP/JSON API exposing Teahouse Finance permissionless DeFi vault data: the vault catalog, per-vault performance time series (TVL, fee APR, share-token APR, share price), and account/vault share transaction logs. Vaults are of type V3Pair (a single Uniswap V3 LP pair) or V3Port (a portfolio of multiple Uniswap V3 positions).'
  contact:
    name: Teahouse Finance
    url: https://docs.teahouse.finance/docs/vault-api
  x-logo:
    url: https://teahouse.finance/
servers:
- url: https://vault-content-api.teahouse.finance
  description: Vault content API (catalog, performance, logs)
- url: https://vault-api.teahouse.finance
  description: Vault API host
tags:
- name: Logs
  description: Share transaction logs
paths:
  /vaults/permissionless/log/{address}/{startTimestamp}/{endTimestamp}:
    get:
      operationId: getAccountShareTransactions
      summary: Get account share transactions in permissionless vault
      description: Returns share transaction logs (deposit, transfer_from, transfer_to, withdraw) for a given wallet address within a time range.
      tags:
      - Logs
      parameters:
      - name: address
        in: path
        required: true
        description: Wallet address.
        schema:
          type: string
      - name: startTimestamp
        in: path
        required: true
        schema:
          type: integer
      - name: endTimestamp
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Account share transaction logs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShareLog'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server-side error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /vaults/permissionless/log/shares/{chainID}/{contractAddress}/{startTimestamp}/{endTimestamp}:
    get:
      operationId: getVaultShareTransactions
      summary: Get share transactions in permissionless vault
      description: Returns the vault address, chain, and share transaction logs (fromAddress, toAddress, amount, blockNumber, timestamp, transactionID) within a time range.
      tags:
      - Logs
      parameters:
      - name: chainID
        in: path
        required: true
        schema:
          type: integer
      - name: contractAddress
        in: path
        required: true
        schema:
          type: string
      - name: startTimestamp
        in: path
        required: true
        schema:
          type: integer
      - name: endTimestamp
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Vault share transaction logs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                  chain:
                    type: string
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShareLog'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server-side error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Error envelope returned on 4xx/5xx responses.
      properties:
        error:
          type: string
          description: Human-readable error message.
        details:
          type: array
          description: Optional array of additional error detail entries.
          items:
            type: object
      required:
      - error
    ShareLog:
      type: object
      description: A single share transaction log entry.
      properties:
        fromAddress:
          type: string
        toAddress:
          type: string
        amount:
          type: string
        blockNumber:
          type: integer
        timestamp:
          type: integer
        transactionID:
          type: string
        action:
          type: string
          description: One of deposit, transfer_from, transfer_to, withdraw.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: The documentation notes a 401 "API Key verification failed" response, indicating some endpoints require an API key. The exact header name is NOT published by Teahouse and must be confirmed with the provider; the value shown here is a placeholder, not an authoritative claim.
